.about-container {
    text-align: center;
    padding: 50px;
    font-size: 1.6rem;
    color: white;
    background: black;
  }
  
  @media (max-width: 768px) {
    .about-container {
      font-size: 1.2rem;
      padding: 30px;
    }
  }
  